.items{
    margin-top: 62px;
    display: flex;
    flex-wrap: wrap;
    width:80vw;
    min-height:1100px;
    align-items: space-between;
    justify-content: space-between;
}
h1{
    font-size: 40px;
    letter-spacing: -0.012em;
    font-weight: 800;
color: #000000;
}
.kitchen-section{
        /* min-width: 100vw; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin: 0 0 350px 0; */
}